body {
  background-color: #121212; /* Fondo oscuro por defecto */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.videojuegos-page {
  background-color: #8B0000;
}

.impresion3d-page {
  background-color: #FFA500;
}

.energia-page {
  background-color: #1e4620;
}

.servicios-page {
  background-color: #0e3c70;
}

header {
  background-color: #1f1f1f;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1rem;
}

nav a:hover {
  color: #ffcc00;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #1f1f1f;
  padding: 1rem;
  text-align: center;
  color: #ccc;
}
